<div>
  <h2>{{ operation === 'create' ? 'New user' : 'Update user' }}</h2>
  <div class="field">
    <label for="first-name">First Name</label>
    <input
      pInputText
      id="first-name"
      placeholder="Jane"
      type="text"
      class="w-full"
      [value]="user.firstName"
    />
  </div>
  <div class="field">
    <label for="last-name">Last Name</label>
    <input
      pInputText
      id="last-name"
      placeholder="Doe"
      type="text"
      class="w-full"
      [value]="user.lastName"
    />
  </div>
  <div class="field">
    <label for="username">Username</label>
    <input
      pInputText
      id="username"
      placeholder="janedoe"
      type="text"
      class="w-full"
      [value]="user.username"
    />
  </div>
  <div class="field">
    <label for="email">Email</label>
    <input
      pInputText
      id="email"
      placeholder="janedoe@example.com"
      type="email"
      class="w-full"
      [value]="user.email"
    />
  </div>
  <div class="field" *ngIf="operation === 'create'">
    <label for="password">Password</label>
    <input
      pInputText
      id="password"
      placeholder="supersecretpassword"
      type="password"
      class="w-full"
    />
  </div>
  <button pButton label="Submit" class="w-full"></button>
  <button
    pButton
    label="Cancel"
    class="w-full p-button-outlined p-button-danger mt-2"
    (click)="closeSidebar()"
  ></button>
</div>
